* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url(/images/Backgroun02.jpg);
}

:root {
    --primary-color-text: #27044D;
    --secondary-color-text: #FF514C;
}


/* * Init Header */

header {
    background-image: url(../images/8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

header .navbar a,
header .navbar a:focus,
header .navbar a:active {
    color: #fff;
    font-size: 18px;
}

header .navbar a:hover {
    color: rgb(187, 187, 187);
    font-size: 18px;
}

header li .dropdown-item {
    color: #27044D;
}

header li .dropdown-item:hover {
    background-color: #fff;
}

header .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border: 1px #fff solid;
    color: #fff;
    line-height: 0;
}

header .navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

header .navbar-brand img {
    width: 10vw;
    min-width: 100px;
}

header .hero {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.hero .hero__info {
    width: 40vw;
    min-width: 250px;
    color: white;
    text-align: center;
}

.hero .hero__info h2 {
    font-style: italic;
}

.hero__info--button {
    padding: 5px 25px;
    outline: none;
    border-radius: 5px;
    border: #FF418A 2px solid;
    background: transparent;
    color: #fff;
    transition: .5s;
}

.hero__info--button:hover {
    border: #fff 1px solid;
    background: #FF418A;
    color: #fff;
    transition: .2s;
}


/* *Contenido */

main section {
    padding: 4em;
}

main h4 {
    margin-bottom: 2em;
}

.titulo {
    font-weight: 700;
    color: var(--secondary-color-text);
}


/*  *all-challenges */

.all-challenges {
    font-size: 30px;
}

.btn-desafio {
    margin: auto;
    font-size: 60%;
    padding: 5px 35px;
    border: none;
    border-radius: 50px;
    color: #FFF;
    background: rgb(255, 81, 76);
    background: linear-gradient(90deg, rgba(255, 81, 76, 1) 0%, rgba(255, 65, 138, 1) 50%, rgba(39, 4, 77, 1) 100%);
    ;
    box-shadow: 2px 2px 4px rgba(8, 7, 70, 0.5);
    transition: .2s;
}

.btn-desafio:hover {
    box-shadow: 3px 3px 6px rgba(8, 7, 70, 1);
    transition: .5s;
}


/* *Steps  */

.steps img {
    width: 100%;
}


/* *Step1 */

.step1 img,
.step2 img {
    margin-top: 1em;
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/*  *Step 2 */

.step2 {
    background-image: url(/images/24.png);
    min-height: 50vh;
    color: #fff;
}

.step2 .titulo {
    color: #fff;
}


/*  *Step 3 */

.step3 img {
    width: 100%;
}

.step3 .contract__bg {
    margin: 2em 0;
    background-image: url(/images/contrato.jpg);
    background-position: center;
    height: 50vh;
}


/* *Carousel */

.carousel-main {
    text-align: center;
    min-height: 400px;
}

.contianer-carousel {
    display: flex;
    justify-content: space-evenly;
}

.contianer-carousel img {
    max-width: 150px;
}


/* *Footer */

footer {
    color: #fff;
    padding: 2em 4em;
    background: rgb(39, 4, 77);
    background: linear-gradient(90deg, rgba(39, 4, 77, 1) 0%, rgba(255, 65, 138, 1) 50%, rgba(255, 81, 76, 1) 100%);
}

footer .logo img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
}

footer li {
    text-decoration: none;
    list-style: none;
}

footer a {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 0;
    transition: .2s;
}

footer a:hover {
    color: #fff;
    box-shadow: 2px 2px 4px var(--primary-color-text);
    transition: .2s;
}

footer small {
    text-align: center;
    margin: auto;
}


/* *Contacto-Page */

.hero__titulo {
    font-size: 5vw;
    font-weight: 700;
}

.contacto {
    min-height: 90vh;
}

.contacto h3 {
    color: var(--primary-color-text);
    font-weight: 700;
}

.contacto form label {
    color: var(--primary-color-text);
    font-weight: 700;
}

.contacto form input,
.contacto form textarea {
    font-weight: 400;
    border: var(--primary-color-text) 1px solid;
}

.contacto--button {
    padding: 5px 55px;
    outline: none;
    border-radius: 5px;
    border: #FF418A 2px solid;
    background: transparent;
    color: #FF418A;
    transition: .5s;
}

.contacto--button:hover {
    border: #fff 1px solid;
    background: #FF418A;
    color: #fff;
    transition: .2s;
}


/* *Medias */

@media (min-width: 992px) {
    header .navbar {
        background-color: transparent !important;
    }
}

@media (max-width: 991px) {
    .navbar a {
        margin-left: 10vw;
    }
}

@media (max-width: 768px) {
    .footer-1 {
        padding-left: -32px;
        margin-left: -16px;
        text-align: center !important;
    }
    .footer-2 {
        margin-bottom: 2em;
    }
    .footer-3 {
        display: none;
    }
}


/* *Bootstraps */

.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}